{{#if tasks}}
<table class="table table-bordered table-hover table-dark" >
    <thead>
        <tr>
            <th>Elemento</th>
            <th>Descripcion</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Escuela</th>
            <th>Lugar</th>
            <th>Telefono</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>¿Entrega?</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>{{nombre}}</td> 
            <td>{{escuela}}</td>
            <td>{{lugar}}</td>
            <td>{{telefono}}</td>
            <td>{{fecha}}</td>
            <td>{{hora}}</td>
            <td>{{entrega}}</td> 
            <td>
                
                {{#if done}}
                    <a class="btn btn-success" href="/toggleDone/{{_id}}">Entregado</a>
                {{else}}
                    <a class="btn btn-dark" href="/toggleDone/{{_id}}">Prestado</a>
                {{/if}} 
                
                <a class="btn btn-danger" href="/delete/{{_id}}">Delete</a>
                <a class="btn btn-info" href="/edit/{{_id}}">Update</a> 
            </td>
        </tr>
        {{/each}}
</table>

{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>Todo ok. Por favor revisa que todo este completo</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>

  </div>
{{/if}}


{{!-- <  <ul>
        {{#each tasks}}
        <li>
            {{title}}
            <p>{{description}}</p>
            <p>{{code}}</p>
            <p>{{lugar}}</p>
            <p>{{telefono}}</p>
            <p>{{fecha}}</p>
            <p>{{hora}}</p>
            <button>edit</button>
            <button>delete</button>
            
        </li>
        {{/each}}
    </ul>> --}}